PORT= 3000
MYSQL_HOST= localhost
MYSQL_PORT= 3306
MYSQL_USER= root
MYSQL_PASSWORD= 
MYSQL_DATABASE= crud
JWT_SECRET= @VS44cB4NZnBXxy0g7meF2yGa13p4mdEZE60bf498dsJjo2cjRM9XVVSSffl1AypCcs
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
API_URL= http://localhost:3000